.form-title {
    margin-left: 2.5vw;
    width: 100%;

}

form {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    margin: 2.5vw;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding is included in width */
}

input[type="file"] {
    margin-top: 5px;
}

input[type="submit"] {
    background-color: #E7625F;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


}

input[type="submit"]:hover {
    background-color: #ffa8aa;
}

/* Responsive styling */
@media (max-width: 600px) {
    input[type="text"],
    input[type="email"],
    textarea,
    select {
        width: 100%;
    }
}